:root{
    --fontColor: #352E28;
    --signColor: #FEC260;
    --backColor: #F7ECDE;
    --btn-color: #cb4f2d;
    --btn-hover: #BB4120;
    --input-back: white;
    --shadow-color:rgba(255, 255, 255, 0.4);
    --gradient: linear-gradient(to right, rgb(41, 151, 41), 45%, rgb(193, 193, 66), 55%, rgb(193, 193, 66));
}
.darkmode{
    --fontColor: white;
    --signColor: #0A6E89;
    --backColor: black;
    --btn-color: #EB2027;
    --btn-hover: #9b1f24;
    --input-back: black;
    --shadow-color: rgba(0, 0, 0, 0.4); 
    --gradient: linear-gradient(to right, #9b1f24, 49%,  #0A6E89, 52%, #0A6E89);
      
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
::selection{
    background-color: grey;
    color: white;
}
.darkToggle::selection{
    background-color: transparent;
}
body{
    background-color: var(--backColor);
    color: var(--fontColor);
   
}

.field input{
    background-color: var(--input-back);
    color: var(--fontColor);
}
.field input:focus{
    background-color: var(--input-back);
    color: var(--fontColor);
}
.field input::placeholder{
    color: var(--fontColor);
}
.fa-sun{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.fa-moon{
    color: var(--fontColor);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

h1{
    /* comment this for dark theme */
    color: var(--fontColor); 

    font-size: 50px;
    font-family: Pacifico, cursive;
    position: relative;
    overflow: hidden;

}
h1::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 5px;
    height: 12%;
    /*commentthisfordarktheme*/
    background-color: var(--signColor);

    z-index: -1;
    transition: height 350ms;
    -webkit-transition: height 350ms;
    -moz-transition: height 350ms;
    -ms-transition: height 350ms;
    -o-transition: height 350ms;
}

h1:hover::before{
    height: 50%;
}

h2{
    /*Comment this for dark theme*/
    background-image: var(--gradient); 


    -webkit-background-clip: text;
    -o-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: righteous, cursive;
    font-size: 25px;
}

form{
    border-top: 2px black dotted;
    border-bottom: 2px black dotted;
}

.btn-submit{
    background-color: var(--btn-color) ; 
    color: white;
    padding-inline: 50px;
}

.btn-submit:hover{
    background-color: var(--btn-hover);
    color: white;
}

table{
    width: 800px;
}